server:
  port: 8081

spring:
  application:
    name: student-portal

  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:5432/student_portal_db}
    username: ${SPRING_DATASOURCE_USERNAME:postgres}
    password: ${SPRING_DATASOURCE_PASSWORD:postgres}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  mongodb:
    uri: ${SPRING_DATA_MONGODB_URI:mongodb://localhost:27017/student_portal_logs}
